body {
  margin: 10px;
}

.properties {
  max-width: 740px;
  margin: auto;
}

.propertyList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}


.btn {
  padding: 0;
  font-size: 13px;
  font-weight: bold;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: #2ecc71;
  color: #ecf0f1;
  
  transition: background-color .3s;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn.orange {
  background-color: #e67e22;
}

.btn.orange:hover, .btn.orange:focus {
  background-color: #d35400;
}

.btn.red {
  background-color: rgb(229, 9, 20);
}

.btn.red:hover, .btn.red:focus {
  background-color: #6d1c13;
}

.btn.gray {
  background-color: #e7e7e7; 
  color: black;
}

.btn.gray:hover {
  background-color: #dbd9d9;
}

.btn.full {
  width: 100%;
}

.btn.disabled {
  background-color: #cccccc;
  color: #666666;
}

.reservationConfirmationModal {
  padding: 16px;
}